.AudioControl {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 3px solid var(--icon-color);
    border-radius: 50%;
    padding: .5rem;
    cursor: pointer;
    transition: background 0.3s;
    opacity: 25%;
    transition: opacity 0.5s ease;
}

.AudioControl__Icon {
    display: flex;
    color: var(--icon-color);
    font-size: var(--icon-size);
}

.AudioControl:hover, .AudioControl:focus, .AudioControl:target {
    opacity: 100%;
}