/* Game Board */
.OuijaBoard {
    position: absolute;
    left: 50%;
    bottom: 50%;
    border-radius: 2rem;
    transform: translate(-50%, 50%);
    background-color: var(--color-board);
    width: clamp(360px, 1440px, 100%);
    height: clamp(640px, 1080px, 100%);
    overflow: hidden;
    color: var(--font-lettering-color);
}

.OuijaBoard__Background {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 45%;
    position: absolute;
    top: 0;
    left: 0;
}

/* Corners */
.OuijaBoard__Corner {
    background-color: red;
    opacity: 15%;
    width: 15rem;
    height: 10rem;
}

/* Layout */
.OuijaBoard__Layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 100%;
    height: 100%;
}

.OuijaBoard__LayoutRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}

.OuijaBoard__LayoutColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

/* Mid Columns */
.OuijaBoard__MidSpace {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
    width: 100%;
}

.OuijaBoard__MidSpace--Horizontal {
    flex-direction: row;
    flex-wrap: nowrap;
}

.OuijaBoard__MidSpace--Vertical {
    flex-direction: column;
    padding: 2rem;
}

/* Ghost Response */
.OuijaBoard__Response {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    width: 640px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-image: linear-gradient(to right, transparent, var(--color-shadow), transparent);
    border-image-slice: 1;
    padding: 1rem;
}

.OuijaBoard__ResponseText {
    font-style: italic;
    font-size: 1.8rem;
}

/* Bottom Column Layout */
.OuijaBoard__Numbers {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
}

/* Character Styles */
.OuijaBoard__Character {
    text-transform: uppercase;
    font-family: var(--font-ouija);
    font-size: 2rem;
    opacity: 85%;
    filter: drop-shadow(0 0 1px var(--color-shadow));
    pointer-events: none;
}

/* Character Lines */
.OuijaBoard__Line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.OuijaBoard__Character--Letter {
    font-size: 5rem;
}

.OuijaBoard__Character--Number {
    font-size: 3.5rem;
}

.OuijaBoard__Character--Bye {
    font-size: 3rem;
}

.OuijaBoard__Character--Yes {
    font-size: 3rem;
}

.OuijaBoard__Character--No {
    font-size: 3rem;
}

@media (max-width: 768px) {
    .OuijaBoard {
        aspect-ratio: 9 / 16;
    }
}