/* Game Board */
.OuijaBoard {
    border-radius: 2rem;
    background-color: var(--color-board);
    width: clamp(360px, 1440px, 100%);
    height: clamp(640px, 1080px, 100%);
    overflow: hidden;
    color: var(--font-lettering-color);
    box-shadow: 0 0 96px black inset;
    position: relative;
}

.OuijaBoard__Background {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 45%;
    position: absolute;
    top: 0;
    left: 0;
}

/* Corners */
.OuijaBoard__CornerLayout {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

/* Layout */
.OuijaBoard__Layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-inline: auto;
    padding: 2rem 1rem;
    width: 70%;
    height: 100%;
}

/* Layout Sections */
.OuijaBoard__LayoutHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 4rem;
    width: 100%;
}

.OuijaBoard__LayoutMain {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.OuijaBoard__LayoutFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Ghost Response */
.OuijaBoard__Response {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    width: 640px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-image: linear-gradient(to right, transparent, var(--color-shadow), transparent);
    border-image-slice: 1;
    padding: 1rem;
}

.OuijaBoard__ResponseText {
    text-align: center;
    font-style: italic;
    font-size: 1.8rem;
    font-family: var(--font-mansalva);
}

/* Bottom Column Layout */
.OuijaBoard__Numbers {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
}

/* Character Styles */
.OuijaBoard__Character {
    text-transform: uppercase;
    font-family: var(--font-ouija);
    font-size: 2rem;
    opacity: 85%;
    filter: drop-shadow(0 0 1px var(--color-shadow));
    pointer-events: none;
}

/* Character Lines */
.OuijaBoard__Line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.OuijaBoard__Character--Letter {
    font-size: 4rem;
}

.OuijaBoard__Character--Number {
    font-size: 3.5rem;
}

.OuijaBoard__Character--Bye {
    font-size: 3rem;
}

.OuijaBoard__Character--Yes {
    font-size: 3rem;
}

.OuijaBoard__Character--No {
    font-size: 3rem;
}

@media (max-width: 1280px) {
    .OuijaBoard__CornerLayout {
        display: none;
    }

    .OuijaBoard__Character--Bye,
    .OuijaBoard__Character--No,
    .OuijaBoard__Character--Yes {
        font-size: 2.6rem
    }

    .OuijaBoard__Character--Number {
        font-size: 3rem;
    }

    .OuijaBoard__Character--Letter {
        font-size: 3.6rem;
    }
}

@media (max-width: 1024px) {
    .OuijaBoard__Character--Bye,
    .OuijaBoard__Character--No,
    .OuijaBoard__Character--Yes {
        font-size: 2.2rem
    }

    .OuijaBoard__Character--Number {
        font-size: 2.8rem;
    }

    .OuijaBoard__Character--Letter {
        font-size: 3rem;
    }    
}

@media (max-width: 768px) {
    .OuijaBoard__Layout {
        width: 90%;
    }
    
    .OuijaBoard__Character--Bye,
    .OuijaBoard__Character--No,
    .OuijaBoard__Character--Yes {
        font-size: 2rem
    }

    .OuijaBoard__Character--Number {
        font-size: 2.2rem;
    }

    .OuijaBoard__Character--Letter {
        font-size: 2.6rem;
    }    
}